.header{
	padding: 10px 5px;
	margin: 0 auto;
	font-size: 15pt;
}

.mensagem-home{
	text-align: center;
	margin-top: 20%;
	font-size: 30pt;
}

footer{
	text-align: center;
	vertical-align: bottom;
}

.tabela-renovacao{
	margin-left: 50px;
	margin-top: 20px;
}

.titulo-renovacao{
	font-weight: bold;
}

.livros-renovacao{
	width: 940px;
	padding: 10px;
}

.botao-renovar{
	text-align: center;
	margin: 150px auto 40px auto;
} 

.Tobra{
	margin: 15px;
}

.Tobra input{
	width: 50%;
}

.Tobra label{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 25px;
}

.unidade{
	margin: 20px 15px;
}

.unidade label{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 15px;
}

.reservar{
	margin: 30px 15px;
}


.rodape{
	margin-top: 299px;
}

.pesquisar{
	text-align: center;
	margin: 20px auto;
}

.pesquisar input{
	width: 400px;
	text-align: center;
}

.form-contato{
	width: 400px;
	margin: 3% 35%;
}

.form-contato label{
	margin: 10px auto;
}

.botao-contato{
	margin: 15px auto;
}

.body-aluno{
	background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 126, 150, 1) 93%, rgba(0, 212, 255, 1) 100%);
}
.login-aluno{
	width: 400px;
	margin: 120px auto;
}

.rodape-login{
	color: white;
	text-shadow: 2px 2px 5px black;
}